
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100px;
}


/* shard style */

.secondary-background{
background-color: #FFF8F3;




}
.text-primary{
color: #FD6E0A;

}
.dark-2{
color: #474747;

}
.btn-primary{
background-color:#FD6E0A ;
font-weight: bold;
font-size: 20px;
color: white;
padding: 18px 35px;
border: none;
border-radius: 5px;
border-color: rgb(220, 245, 227);
}
.section-title{
font-size: 35px;
font-weight: bold;
color: #818181;



}
.section-description{
font-size: 18px;
color: #757575;

}

.text-center{
text-align: center;




}



/* header */
.header{
background-image: url(../images/developer.png), url(../images/header_bg.png);
background-repeat: no-repeat;
background-position:top left,bottom right ;

}

/* nav style */
nav{
display: flex;
align-items: center;
justify-content:space-between;
margin:0px 200px;

}
.nav-title{
font-weight: 800;
font-size: 45px;

}
nav ul {
display: flex;

}
nav ul li {
list-style: none;
margin-right: 51px;
align-items: center;

}
nav li a{
  text-decoration: none;
  font-size: 20px;

}

/* banner style */
.banner{
display: flex;
margin: 0 35px 0 230px;

}
.banner-content{
  max-width: 580px;
  justify-content: space-between;
}



.banner-greeting{
  font-size: 45px;
  font-weight: 600;
}
.banner-title{
font-weight: bold;
font-size: 85px;
}
.banner-description{
font-size:18 px;

}
.banner-profile{
width: 580px;
}

/* main style */
main{
max-width: 1140px;
margin: 0 auto ;
}
main-section{
margin-top: 130px;
margin-bottom: 130px;
}



/* about style */

.about{
border-radius: 10px;
padding: 130px 150px;
text-align: center;
}

.about-items{
display: flex;
justify-content: space-around;
}
.item-description{
font-weight: 600;
}

/* skills section  */
.skills-container{
  display: flex;
  grid-auto-flow: 24px;
}
.skill{
padding:30px;
box-shadow: 0px 6px 50px 0px rgba(0,0,00.6);
border-radius: 5px;
}

/* resume section style */

.resume-container{
display: flex;
gap: 25px;
}
.experience-sub-title{
font-size: 20px;
font-weight: 600;
margin-bottom: 20;
}

.experience-description, .experience-sub-title{
color: #757575;
}
.resume hr{
margin:30px 5px ;
}
.resume-downlod-cv{
margin-top: 50px;
}

/* footer styles */
footer{
padding: 130px 230px;
display: flex;
gap: 100px;

}
footer-colume{
width: 50%;


}
 footer input[type="text"], footer input[type="email"], footer textarea{
height: 64px;
border-radius: 5px;
background-color: white;
color: #474747;
display: block;
width: 100%;
padding: 10px 20px ;
margin-bottom: 20px;
border: none;
}
